<h3>{{titleView}}</h3>

<form action="/insertXeHoi" method="POST" style="margin-top: 40px;">
    <div class="row">
        <div class="form-group col-sm-2">
            <label for="text">Tên:</label>
            <input type="text" required class="form-control" id="text" placeholder="Tên" name="Ten"
                value="{{xehoiModels.Ten}}">
        </div>
        <div class="form-group col-sm-4">
            <label for="text">Giá Bán:</label>
            <input type="Number" required class="form-control" placeholder="Giá bán" name="GiaBan" value="{{xehoiModels.GiaBan}}">
        </div>
        <div class="form-group col-sm-2">
            <label for="text">Năm:</label>
             <input type="Number" required class="form-control" placeholder="Năm" name="Nam" value="{{xehoiModels.Nam}}">
        </div>
       
    <button type="submit" class="btn btn-primary">Save</button>
</form>